<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body id='bodyWrap'>

<fieldset>
    <legend>最近 CDR</legend>
</fieldset>

<% if (resp) { %>
<!--<h3>顯示結果</h3><br/>-->
<% if (resp.length == 0) { %>
<h4>查無資料!</h4>
<% } else{ %>
<h3> 總量 : <%= totalcount %>筆資料,  顯示前 <%= resp.length %> 筆</h3>

<!--<h4> 回傳最新 <%= resp.length %> 筆</h4>-->

    <table class="table table-striped table-hover table-condensed">
        <caption></caption>
        <thead>
        <tr>
            <td id="#"></td>
            <th id="th_G_RECORD_OPENING_TIME"   >日期時間</th>

            <script>//依基站</script>
            <th id="th_RECORD_TYPE"             >RECORD_TYPE</th>
            <th id="th_SERVED_MSISDN"           >SERVED_MSISDN</th>
            <th id="th_G_DIAGNOSTICS"           >G_DIAGNOSTICS</th>
            <th id="th_CALLED_SUBS_FIRST_LAC"   >LAC</th>
            <th id="th_CALLED_SUBS_FIRST_SAC"   >SAC</th>
            <th id="th_G_UPLINK"                >上傳</th>
            <th id="th_G_DOWNLINK"              >下載</th>

        </tr>
        </thead>
        <tbody>
        <% var i = 1; %>
        <% resp.forEach( function(body){ %>
        <tr>
            <!--<td><%# body.date_time %></td>-->
            <!--<td><%# body._id %></td>-->
            <td id="#"><%= i++ %></td>
            <!--<td id="id"  text="日期時間" ><%= JSON.stringify(body) %></td>-->
            <td id="G_RECORD_OPENING_TIME"  text="日期時間" ><%= body.G_RECORD_OPENING_TIME %></td>
            <!--<td id="charging_start_time"text="開始" ><%= body.TIMESTAMP %></td>-->
            <!--<td id="charging_end_time"  text="通話結束" ><%= body.charging_end_time %></td>-->
            <script>//依基站</script>
            <td id="RECORD_TYPE"            text="TYPE"     ><%= body.RECORD_TYPE %></td>
            <td id="SERVED_MSISDN"          text="MSISDN"   ><%= body.SERVED_MSISDN %></td>
            <td id="G_DIAGNOSTICS"          text="DIAGNOS"  ><%= body.G_DIAGNOSTICS %></td>
            <td id="CALLED_SUBS_FIRST_LAC"  text="LAC"      ><%= body.CALLED_SUBS_FIRST_LAC %></td>
            <td id="CALLED_SUBS_FIRST_SAC"  text="SAC"      ><%= body.CALLED_SUBS_FIRST_SAC %></td>
            <td id="G_UPLINK"               text="IMEI"     ><%= body.G_UPLINK %></td>
            <td id="G_DOWNLINK"             text="IMSI"     ><%= body.G_DOWNLINK %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>
    <% } else { %>

    <% } %>

</body>
</html>