<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
    </style>
</head>
<body>
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>新增 Alert</legend>

        <!--<div class="control-group">-->
        <!--<label class="control-label" for="logid">_id</label>-->
        <!--<div class="controls">-->
        <!--<select id="field" multiple="multiple">-->
        <!--<option>time</option>-->
        <!--<option>identifier</option>-->
        <!--<option>message</option>-->
        <!--</select>-->
        <!--<p></p>-->

        <div class="control-group">

            <table class="table table-hover table-condensed borderless">
                <caption></caption>
                <thead>
                <tr>
                <tr>
                    <th id="name0">名稱</td>
                    <th id="field0">field</th>
                    <th id="input0">input</th>
                    <th id="sample0">sample</th>
                </tr>
                </thead>

                <tbody>
                <!--<tr>-->
                <!--<td id="name1">時間</td> <td id="field1"><label for=>timestamp</label></td>-->
                <!--<td id="input1"><input type="text" class="input-large" id="identifier" name="identifier" value="%PIX-x-insert" /></td>-->
                <!--<td id="sample1"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td id="name2">發送來源</td> <td id="field2"><label for=>device_name</label></td>-->
                <!--<td id="input2"><input type="text" class="input-large" id="device_name" name="device_name"/></td>-->
                <!--<td id="sample2">logserver</td>-->
                <!--</tr>-->
                <tr>
                    <td id="name3">訊息ID</td>   <td id="field3"><label for="identifier">identifier</label></td>
                    <td id="input3"><input type="text" class="input-large" id="identifier" name="identifier" value="PIX-x-insert" /></td>
                    <td id="sample3">PIX-6-302005</td>
                </tr>
                <tr>
                    <td id="name4">分類</td>  <td id="field4"><label for="facility">Facility</label></td>
                    <td id="input4"><input type="text" class="input-large" id="facility" name="facility"/></td>
                    <td id="sample4">PIX</td>
                </tr>
                <tr>
                    <td id="name5">嚴重</td>   <td id="field5"><label for="severity">Severity</label></td>
                    <td id="input5"><input type="text" class="input-large" id="severity" name="severity"/></td>
                    <td id="sample5">6</td>
                </tr>
                <tr>
                    <td id="name6">識別</td>   <td id="field6"><label for="mnemonic">Mnemonic</label></td>
                    <td id="input6"><input type="text" class="input-large" id="mnemonic" name="mnemonic"/></td>
                    <td id="sample6">insert</td>
                </tr>
                <tr>
                    <td id="name7">訊息</td>  <td id="field7"><label for="message">message</label></td>
                    <td id="input7"><input type="text" class="input-large" id="message" name="message"/></td>
                    <td id="sample7">Could not process</td>
                </tr>
                <tr>
                    <td id="name8">擴充</td> <td id="field8"><label for="enrich">Enrich</label></td>
                    <td id="input8"><input type="text" class="input-large" id="enrich" name="enrich"/></td>
                    <td id="sample8">Could not process</td>
                </tr>

                </tbody>
            </table>

            <!--<label class="control-label" for="identifier">identifier</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="identifier" name="identifier" />　　ex:%PIX-6-302005-->
            <!--</div>-->
            <!--<p></p>-->

            <!--<label class="control-label" for="facility">Facility</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="facility" name="facility" />　　ex:%PIX-->
            <!--</div>-->
            <!--<p></p>-->

            <!--<label class="control-label" for="severity">Severity</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="severity" name="severity" />　　ex:6-->
            <!--</div>-->
            <!--<p></p>-->

            <!--<label class="control-label" for="mnemonic">Mnemonic</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="mnemonic" name="mnemonic" />　　ex:302005-->
            <!--</div>-->
            <!--<p></p>-->

            <!--<label class="control-label" for="matchmsg">Message</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="matchmsg" name="matchmsg"/>　　ex:198.207.223.240-->
            <!--</div>-->
            <!--<p></p>-->

            <!--<label class="control-label" for="enrich">Enrich</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="enrich" name="enrich"/>　　ex:Could not process-->
            <!--</div>-->
            <!--<p></p>-->

            <!--<label class="control-label" for="info"></label>-->

            <div> * 新增告警條件 <span style="font-family:consolas">{$regex:/string/}</span></div>
            <!--，由上面的欄位開始。-->
            <p></p>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">add</button>
        </div>
    </fieldset>
</form>

<p></p>
<% if (resp) { %>
<h3>儲存完成</h3>
<p>event</p>
<!--<p>Level : <%= resp.level %></p>-->
<!--<p>_id : <%= resp._id %></p>-->
<p>event <%= util.inspect(resp.event) %></p>
<!--<p>Timestamp : <%= resp.time %></p>-->
<!--<p>Identifier : <%= resp.identifier %></p>-->
<!--<p>Log Message : <%= resp.message %></p>-->

<% } else { %>
<h3></h3>
<% } %>

</body>
</html>