<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">

    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>

    <link rel="stylesheet" href="https://github.com/dbushell/Pikaday/blob/master/css/pikaday.css">
    <script src="https://github.com/dbushell/Pikaday/blob/master/pikaday.js"></script>
    <script src="https://github.com/dbushell/Pikaday/blob/master/pikaday.js"></script>
    <style>
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
    </style>
</head>
<body>
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>查詢 log</legend>

            <table class="table table-hover table-condensed borderless">
                <caption></caption>
                <thead>
                <tr>
                <tr>
                    <th id="name0">名稱</td>
                    <th id="field0">field</th>
                    <th id="input0">input</th>
                    <th id="sample0">sample</th>
                    <th class="query_mark">查詢特性</th>
                </tr>
                </thead>

                <tbody>
                <!--<tr>-->
                    <!--<td id="name00">_id</td>-->
                    <!--<td id="field00"><label for="_id">_id</label></td>-->
                    <!--<td id="input00"><input type="text" class="input-large" id="_id" name="_id"/></td>            </td>-->
                    <!--<td id="sample1"></td>-->
                <!--</tr>-->
                <tr>
                    <td id="name1">時間</td>
                    <td id="field1"><label for="timestamp">timestamp</label></td>
                    <td id="input1">
                        <!--<input type="date" class="input-medium" id="matchdate" name="matchdate"/>-->
                        <!--<input type="date" class="input-medium" id="matchenddate" name="matchenddate"/>-->

                        <input type="datetime-local" class="input-large" id="matchdate" name="matchdate"/> (from)
                        </br>
                        <input type="datetime-local" class="input-large" id="matchenddate" name="matchenddate"/> (to)
                    </td>
                    <td id="sample1">2015-03-01T01:56</td>
                    <td class="query_mark" style="color: blue" >範圍查詢</td>
                </tr>
                <tr>
                    <td id="name2">發送來源</td>
                    <td id="field2"><label for="device_name">device_name</label></td>
                    <td id="input2"><input type="text" class="input-large" id="device_name" name="device_name"/></td>
                    <td id="sample2">PC</td>
                    <td class="query_mark"></td>
                </tr>
                <tr>
                    <td id="name3">訊息ID</td>   <td id="field3"><label for="identifier">identifier</label></td>
                    <td id="input3"><input type="text" class="input-large" id="identifier" name="identifier" disabled="disabled"/></td>
                    <td id="sample3">PIX-6-302005</td>
                    <td class="query_mark"></td>
                </tr>
                <tr>
                    <td id="name4">分類</td>  <td id="field4"><label for="facility">Facility</label></td>
                    <td id="input4"><input type="text" class="input-large" id="facility" name="facility"/></td>
                    <td id="sample4">PIX</td>
                    <td class="query_mark"></td>
                </tr>
                <tr>
                    <td id="name5">嚴重</td>   <td id="field5"><label for="severity">Severity</label></td>
                    <td id="input5"><input type="text" class="input-large" id="severity" name="severity"/></td>
                    <td id="sample5">6</td>
                    <td class="query_mark"></td>
                </tr>
                <tr>
                    <td id="name6">識別</td>   <td id="field6"><label for="mnemonic">Mnemonic</label></td>
                    <td id="input6"><input type="text" class="input-large" id="mnemonic" name="mnemonic"/></td>
                    <td id="sample6">302005</td>
                    <td class="query_mark"></td>
                </tr>
                <tr>
                    <td id="name7">訊息</td>  <td id="field7"><label for="message">message</label></td>
                    <td id="input7"><input type="text" class="input-large" id="message" name="message"/></td>
                    <td id="sample7">198.207.223.240/Could not process</td>
                    <td id="query_mark7" style="color: blue" >模糊查詢</td>
                </tr>
                <tr>
                    <td id="name8">擴充</td> <td id="field8"><label for="enrich">Enrich</label></td>
                    <td id="input8"><input type="text" class="input-large" id="enrich" name="enrich"/></td>
                    <td id="sample8">Could not process</td>
                    <td class="query_mark"></td>
                </tr>

                </tbody>
            </table>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">search</button>
        </div>
    </fieldset>
</form>
<!--這一段是存在的-->
<!--<% if (locals.messages) { %>-->
<!--<% messages.forEach(function(message) { %>-->
<!--<p class='<%= message.type %>'><%= message.string %></p>-->
<!--<% }) %>-->
<!--<% removeMessages() %>-->
<!--<% } %>-->

<p></p>

<% if (resp) { %>
<h3>搜尋結果</h3></br>
<% if (resp.length == 0) { %>
<h4> 查無資料!</h4>
<% } else /*if (resp.length < 20)*/{%>
<h4> 回傳 <%= resp.length %> 筆</h4>

<table class="table table-hover table-condensed">
    <caption></caption>
    <thead>
    <tr>
    <tr>
        <td> </td>
        <td>時間</td>
        <th>來源</th>
        <th>訊息ID</th>
        <th>分類</th>
        <th>嚴重</th>
        <th>識別</th>
        <th>訊息</th>
        <th>擴充</th>
        <th></th>
        <!--<th>_id</th>-->
    </tr>
    </thead>
    <thead>
    <tr>
    <tr>
        <td></td>
        <th>Timestamp</th>
        <th>device_name</th>
        <th>Identifier</th>
        <th>Facility</th>
        <th>Severity</th>
        <th>Mnemonic</th>
        <th>Message</th>
        <th>Enrich</th>
        <th></th>
        <!--<th>_id</th>-->
    </tr>
    </thead>
    <tbody>
    <% resp.forEach( function(body){ %>
    <tr>
        <!--<td><%= body.level %></td>-->
        <% if(body.time) {
        if(body.time.toString()){ %>
        <td><%= body.time.toLocaleString() %></td>
        <% } else { %>
        <td><%= body.time.toLocaleString() %></td>
        <% } } %>
        <td><%= body.device_name %></td>
        <td><%= body.identifier %></td>
        <td><%= body.facility %></td>
        <td><%= body.severity %></td>
        <td><%= body.mnemonic %></td>
        <td><%= body.message %></td>
        <td><%= body.enrich %></td>
        <!--<td><%= body._id %></td>-->
    </tr>
    <% }); %>
    </tbody>
</table>
<% } %>
<% } else { %>
<h3>總量 : <%= totalcount %>筆資料</h3>
<% } %>

</body>
</html>