<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>
</head>
<body>
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>顯示 Alert</legend>
    </fieldset>
</form>
<p></p>

<% if (resp) { %>
    <!--<h3>顯示結果</h3><br/>-->
    <% if (resp.length == 0) { %>
    <h4>查無資料!</h4>
    <% } else { %>

        <h4>共<%= totalcount %> 筆, 顯示其中 <%= resp.length %> 筆</h4>
        <% if(start&&end){ %><h4><%= start.toLocaleTimeString() %> － <%= end.toLocaleTimeString() %> (<%= timeinterval/1000 %>秒內)</h4>
        <% } %>
        <table class="table table-hover table-condensed">
            <caption></caption>
            <thead>
            <tr>
            <tr>
                <td> </td>
                <td>時間</td>
                <th>來源</th>
                <th>訊息ID</th>
                <th>分類</th>
                <th>嚴重</th>
                <th>識別</th>
                <th>訊息</th>
                <th>擴充</th>
                <th></th>
                <!--<th>_id</th>-->
            </tr>
            </thead>
            <thead>
            <tr>
            <tr>
                <td></td>
                <th>Timestamp</th>
                <th>device_name</th>
                <th>Identifier</th>
                <th>Facility</th>
                <th>Severity</th>
                <th>Mnemonic</th>
                <th>Message</th>
                <th>Enrich</th>
                <th></th>
                <!--<th>_id</th>-->
            </tr>
            </thead>
            <tbody>
            <% var i=1; %>
            <% resp.forEach( function(body){ %>
            <tr>
                <td><%= i++ %></td>
                <% if(body.time) { %>
                <% if(body.time.toString().length > 12){ %>
                <td><%= body.time.toJSON().slice(0, 10)%> <%= body.time.toLocaleTimeString() %></td>
                <% } else { %>
                <td><%= body.time.toJSON().slice(0, 10)%> <%= body.time.toLocaleTimeString() %></td>
                <% } } %>
                <td><%= body.device_name %></td>
                <td><%= body.identifier %></td>
                <td><%= body.facility %></td>
                <td><%= body.severity %></td>
                <td><%= body.mnemonic %></td>
                <td><%= body.message %></td>
                <td><%= body.enrich %></td>
                <!--<td><%# body._id %></td>-->
            </tr>
            <% }); %>
            </tbody>
        </table>
        <% } %>
    <% } else { %>
<% } %>
</body>
</html>